.input {
  position: relative;
  width: min(25rem, 100%);

  label {
    position: absolute;
    transform: translatey(-65%);
    left: 1.2rem;

    font-size: var(--fs-300);
    font-weight: 900;

    background: var(--neutral-50);
    color: var(--accent-400);
  }

  input {
    width: 100%;
    min-height: 2.2rem;
    padding: 0.4rem;
    outline: none;
    border-radius: 4px;

    font-size: var(--fs-350);
    color: var(--fc-primary);
    // color: red;

    border: solid 1px var(--primary-700);
    background: var(--neutral-50);

    &:focus {
      border: solid 2px var(--primary-800);
    }
  }
}
