.button {
  min-height: 2.2rem;
  padding: 0.3rem 1rem;
  border: 0;
  border-radius: 4px;

  cursor: pointer;

  background-color: var(--accent-500);

  font-size: var(--fs-350);
  color: var(--neutral-50);
  font-weight: 900;
}
