:root {
  /* primary colors */
  --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #bfdbfe;
  --primary-300: #93c5fd;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;
  --primary-950: #172554;

  /* accent colors */
  --accent-50: #fff7ed;
  --accent-100: #ffedd5;
  --accent-200: #fed7aa;
  --accent-300: #fdba74;
  --accent-400: #fb923c;
  --accent-500: #f97316;
  --accent-600: #ea580c;
  --accent-700: #c2410c;
  --accent-800: #9a3412;
  --accent-900: #7c2d12;
  --accent-950: #431407;

  /* other colors */
  --neutral-50: #fafafa;
  --fc-primary: var(--primary-950);

  /* font sizes */
  --fs-100: 0.25em;
  --fs-150: 0.5em;
  --fs-200: 0.75em;
  --fs-250: 1em;
  --fs-300: 1.25em;
  --fs-350: 1.5em;
  --fs-400: 1.75em;
  --fs-450: 2em;
  --fs-500: 2.25em;
  --fs-550: 2.5em;
  --fs-600: 2.75em;
  --fs-650: 3em;
}

/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  /* background: #fefefe; */
  color-scheme: light;
}

/* @media (width>20rem) {
  body {
    font-size: 20px;
  }
} */

/* body {
} */
